html {
    font-family: 'Open Sans';
    font-size: 12px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    min-height: 100vh;
}

.choices {
    display: flex;
    gap: 2rem;
}